footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    color: white;
    background-color: #333333;
}

footer .icon{
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 80%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
}